body {
  margin: 0;
  padding: 0;
  background: linear-gradient(270deg, #bdc3c7, #2c3e50);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Bodoni Moda", serif;
  font-size: 36px;
}

button {
  padding: 5px 20px;
  margin: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: "IBM Plex Serif", serif;
  background-color: #e8eef2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffffff;
}

.counter-block,
.color-block,
.text-block,
.number-block,
.style-block,
.slider,
.size-block {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Task №1 */
.counter-block {
  font-size: 20px;
}

/* Task №2 */
.color-block {
  width: 250px;
  height: 200px;
  background-color: #ffffff;
  padding: 10px 15px;
  text-align: center;
}

/* Task №3 */
.text-block {
  font-size: 20px;
}

/* Task №4 */
.number-block {
  font-size: 20px;
}

/* Task №5 */
.style-block {
  width: 200px;
  height: 150px;
  background-color: #ffffff;
  font-size: 10px;
  font-family: "IBM Plex Serif", serif;
  color: black;
  padding: 10px 15px;
  text-align: center;
}

/* Task №6 */
.slider {
  width: 350px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s;
}

.slide.active {
  opacity: 1;
}

/* Task №7 */
.size-block {
  width: 250px;
  height: 200px;
  background-color: rgb(222, 238, 252);
  padding: 10px 15px;
  color: black;
  text-align: center;
}
