body {
  margin: 0;
  padding: 0;
  background: linear-gradient(270deg, #bdc3c7, #2c3e50);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Bodoni Moda", serif;
  font-size: 36px;
}

button {
  padding: 5px 20px;
  margin: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: "IBM Plex Serif", serif;
  background-color: #e8eef2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffffff;
}

/* Task №1 */
.container {
    margin-top: 15px;
    font-size: 20px;
}


/* Task №2 */
.block {
    width: 250px;
    height: 200px;
    background-color: #ffffff;
}

/* Task №3 */
.area {
    font-size: 20px;
}